@inject User CurrentUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MagazinAuto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="padding-right:275px">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand logo">Magazin Auto</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    @if (CurrentUser.IsAuthenticated)
                    {
                        <li><a asp-controller="Home" asp-action="AddCar"><span class="glyphicon glyphicon-log-out"></span>Adauga anunt</a></li>
                        <li><a asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                        <li><a asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MagazinAuto
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
